.portrait {
  box-sizing: border-box;
  margin: 50px auto;
  padding: 10px;
  width: 270px;
  height: 270px;
  outline: 10px solid white;
  border: 50px solid rgba(0, 0, 0, 0.4);
  border-image-slice: 50;
  /*border-image-slice: 80;*/
  /*border-image-slice: 120;*/
  border-image-source: url("img/border-img.png");
  background: url("img/border-img.png") no-repeat #ffffff;
  background-clip: padding-box;
  background-origin: content-box;
}
