a.arrow {
  display: inline-block;
  margin: 0 10px;
}

a.arrow::before {
  content: "";
  /*display: inline-block;*/
  /*height: 20px;*/
  /*width: 20px;*/
  border: 20px solid #0074d9;
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
}