a.arrow {
  display: inline-block;
  margin: 0 10px;
  font-size: 0;
}

.arrow::before {
  display: inline-block;
  border: 20px solid #0074d9;
  border-right-width: 10px;
  border-right-color: transparent;
  border-left-width: 10px;
  border-left-color: transparent;
  content: "";
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}
