.photo {
  background-image: url("img/spb-1.jpg");
}

.walden {
  filter: contrast(0.9) brightness(1.2) hue-rotate(-20deg) saturate(1.7) sepia(0.4);
}

.toaster {
  filter: contrast(0.67) saturate(2.5) hue-rotate(-30deg) sepia(0.4);
}
