.portrait {
  box-sizing: border-box;
  margin: 100px auto;
  padding: 10px;
  width: 270px;
  height: 270px;
  outline: 10px solid white;
  border: 50px solid rgba(0, 0, 0, 0.4);
  border-image-outset: 60px;
  /*border-image-outset: 30px;*/
  border-image-source: url("img/border-img.png");
  border-image-slice: 50;
  border-image-repeat: repeat;
  background: url("img/border-img.png") no-repeat #ffffff;
  background-clip: padding-box;
  background-origin: content-box;
}
