html,
body {
  margin: 0;
  padding: 0;
  width: 570px;
  height: 250px;
}

.deck {
  margin: 0 auto;
  padding-top: 50px;
  width: 570px;
}

.deck > img {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  width: 110px;
}

.ten {
  transform: scale(0.8) rotate(-10deg) translate(45px, 20px);
}

.jack {
  transform: scale(0.9) rotate(-5deg) translate(20px);
}

.queen {
  transform: translateY(-5px);
  z-index: 2;
}

.king {
  transform: rotate(5deg) scale(0.9) translate(-20px);
  z-index: 1;
}

.ace {
  transform: rotate(10deg) scale(0.8) translate(-45px, 20px);
}
