.stone {
  position: absolute;
}

.stone::before,
.stone::after {
  position: absolute;
  border-style: solid;
  content: "";
}

.hexa {
  top: 50px;
  left: 40px;
  width: 80px;
  height: 40px;
}

.hexa {
  background-color: #2ecc40;
}

.hexa::before,
.hexa::after {
  border-color: #2ecc40 transparent;
}

.hexa::before {
  bottom: -30px;
  border-width: 30px 40px 0;
}

.hexa::after {
  top: -30px;
  border-width: 0 40px 30px;
}

.penta {
  top: 20px;
  right: 40px;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.penta::before,
.penta::after {
  border-color: #ff4136 transparent;
}

.penta::before {
  border-width: 0 50px 50px;
}

.penta::after {
  top: 50px;
  border-width: 100px 50px 0;
}

.octa {
  right: 45px;
  bottom: 50px;
  width: 90px;
  height: 35px;
}

.octa {
  background-color: #7fdbff;
}

.octa::before,
.octa::after {
  width: 30px;
  border-color: #7fdbff transparent;
}

.octa::before {
  top: -30px;
  border-width: 0 30px 30px;
}

.octa::after {
  bottom: -30px;
  border-width: 30px 30px 0;
}

.rhomba {
  bottom: 70px;
  left: 50px;
}

.rhomba::before,
.rhomba::after {
  border-width: 50px 30px;
  border-color: #ffdc00 transparent;
}

.rhomba::before {
  top: 0;
  border-bottom: 0;
}

.rhomba::after {
  bottom: 0;
  border-top: 0;
}